* {
  margin: 0px;
  padding: 0px;
}

.product-card {
  display: flex;
  width: 250px;
  height: 300px;
  margin: 20px;
  flex-direction: column;
}

.product-img {
  width: 100%;
  height: 200px;
}

.product-name,.product-price {
  font-size: 18px;
  font-weight: 600;
}

.add_to_cart_btn {
  background-color: #0061bc;
  color: white;
  margin: 0 10px;
  padding: 7px;
  border-radius: 12px;
  border: none;
}
